
h3 {
text-align: right;
padding-bottom: 20px;
padding-right: 60px;
}  

h4{
padding-right: 920px;

padding-bottom: 20px;
}

.container{
text-align: center;
padding-top: 30px;
padding-bottom: 50px;
background-color: lightblue;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: bold;

}

/* .class-1 {
font-size: 24px;
} */

.row{
    font-size: 32px;
}




